        {{!-- <li class="post-{{this._id}}" > --}}
            <div class="post" post-{{this._id}}>
           {{!-- {{@root.user.path.to.ouser}} --}}

                {{#if ../ouser }}
                    {{#compare ../ouser "==" this.user.id }}
                    <small><a class="delete-post-button" href="/post/destroy/{{this._id}}"> X </a></small>
                    {{/compare}}
                    Noice
                {{/if}}

                {{this.content}}
                <br>
                {{this.user.name}} creted the post! 

                {{!-- Printing all the comments --}}
                <br>
                <p>Comments</p>
                {{!-- {{#if this.comments}} --}}
                {{#each this.comments}}
                    {{>comments this.comment}}
                {{/each}}
                <br>
                {{!-- {{/if}} --}}
                {{!-- <br> --}}

                {{#if ../ouser }}
                {{!-- {{user.name}} --}}
                <br>
                <section>
                    <form action="/comment/create" method="post">
                        <input type="hidden" name="post_id" value={{this._id}} >
                        <textarea name="comment" cols="30" rows="3" placeholder="Write Comment...." required></textarea>
                        <input type="submit" value="Submit Comment!!">
                    </form>
                </section>
                {{/if}}
                
            </div>
            <br>
{{!-- </li> --}}