<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="<%= assetPath('css/style.css') %>"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="<%= assetPath('css/header.css') %>"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="<%= assetPath('css/footer.css') %>"
      type="text/css"
    />

    <style>
      div.design {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      input {
        outline: none;
        /* border: 2px black solid; */
        border: 2px rgb(0, 255, 234) dashed;
        border-radius: 15px;
        padding: 5px;
        background-color: white;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include("partials/header"); %> <% if(reset_token.isValid==true){ %>
    <form action="/user/change-password/auth" method="post">
      <input type="hidden" name="user" value="<%= user %>" />
      <input
        type="hidden"
        name="reset_token_access"
        value="<%= reset_token.accessToken %>"
      />
      <h1>Welcome</h1>
      <%= user.user_email %> <br /><br />
      <label for="">Enter new Password</label>
      <br />
      <input type="password" name="password" required />
      <br /><br />

      <label for="">Confirm Password</label>
      <br />
      <input type="password" name="confirm_password" required />
      <br /><br />

      <input type="submit" value="Submit" />
    </form>
    <% }else{ %>
    <p>Oops!!!</p>
    <br />
    <p>Session timeout!!</p>
    <% } %> <%- include("partials/footer"); %>
  </body>
</html>
