<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    
<%- include("partials/header"); %>

<head>
    <link href="<%= assetPath('css/style.css') %>" rel="stylesheet">
    <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">


</head>
<br><br><br>
<div id="center_profile">

<div class="user_info">

<img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="100" loading="lazy">

<br><br>

<% if(locals.user){ %>

<br>
    <% if(locals.user.id==profile_user.id){ %>
        <form action="/user/update_user/<%=profile_user.id%>" method="post" enctype="multipart/form-data">
            <input type="text" value="<%=profile_user.name%>" name="name" placeholder="Your Name.." required>
            <br><br>
            <input type="email" value="<%=profile_user.user_email%>" name="user_email" placeholder="Your Email.." required>
            <br><br>
            <label for="">Profile Image</label><br>
            <input type="file" name="avatar">
            <br><br>
            <input type="submit" value="Submit" id="Submit">
        </form>
    <% } %>

    <% if (locals.user.id!=profile_user.id) { %>
        <br>
        <section>
        <%=profile_user.name%><br><br>
        <%=profile_user.user_email%>
        </section>
        <br>
        <br>
        <a href="/friends/check-friend?_id=<%= profile_user._id %>" type="hidden" id="check-friend"></a>
        <a href="/friends?_id=<%= profile_user._id %>" id="friend" style="text-decoration: none;">Add Friend</a>
    <% } %>

<% } %>

</div>

</div>
<br>
<%- include("partials/footer"); %>

<script src="<%= assetPath('js/profile_friend_status.js') %>"></script>

</body>
